[Unit]
Description=Manage system theme

[Service]
Type=oneshot
ExecStart=/usr/libexec/nova-theme-manager
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target
